/Tecnicatura3java/New Folder (2)/Interfaces/nbproject/private/
/Tecnicatura3java/New Folder (2)/Interfaces/build/
/Tecnicatura3java/Leccion07/JavaBeans/nbproject/private/
/Tecnicatura3java/Leccion07/JavaBeans/build/
/Tecnicatura3java/Leccion08/ManejoExcepciones1/nbproject/private/
/Tecnicatura3java/Leccion08/ManejoExcepciones1/build/
